.Dictionary h1 {
  font-size: 24px;
  font-weight: bold;
}

.Dictionary section {
  background-color: rgb(240, 251, 255);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 16px;
  color: #333;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
}
